/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 0.3s;*/
}
html {
    font-size: 62.5%;
}

/*.main-new_mode {
    display: none;
}*/
.container-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-buttons .btn_set {
    margin-right: 1.5rem;
}

.container-buttons .btn_set:last-child {
    margin-right: 0;
}
/*set game mode*/
.set-game_mode header {
    display: flex;
    background: #34ACE0;
    color: white;
    min-width: 30rem;
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: flex-end;
    align-content: flex-start;
}
.set-game_mode header button {
    color: #227093;
    padding: 1.5rem 3rem;
    outline: none;
    border-radius: 0.5rem;
    background: #fff;
    cursor: pointer;
    margin-left: 29vw;
}
/* 
.set-game_mode header .head {
    display: flex;
    align-content: center;
    justify-content: flex-end;
} */
/*Quitar container*/
.container-buttons,
.info-box_ruleta,
.container,
.result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0rem 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
                0rem 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.info-box_ruleta.activeInfo,
.container.activeNewMode,
.result_box.activeResult {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.set-game_mode.activeSetMode {
    opacity: 1;
    pointer-events: auto;
    display: block;
}
.quiz-box {
    display: none;
}

.container-buttons button {
    font-size: 2.5rem;
    font-weight: 500;
    color: #227093;
    padding: 1.5rem 3rem;
    outline: none;
    border-radius: 0.5rem;
    background: #fff;
    cursor: pointer;    
}

.info-box_ruleta {
    width: 54rem;
    background: #fff;
    border-radius: 0.5rem;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(1.1);
}

.info-box_ruleta .info_title {
    height: 6rem;
    width: 100%;
    border-bottom: 0.1rem solid lightgray;
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 2rem;
    font-weight: 600;
}

.info-box_ruleta .info_list {
    text-align: left;
    padding: 1.5rem 3.5rem;
}

.info-box_ruleta .info_list .info {
    margin: 0.5rem 0;
    font-size: 1.7rem;
}

.info-box_ruleta .info_list .info span {
    font-weight: 600;
    color: #227093;
}

.info-box_ruleta .buttons {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3.5rem;
    border-top: 0.1rem solid lightgray;
}

.info-box_ruleta .buttons button {
    margin: 0 0.5rem;
    height: 4rem;
    width: 10rem;
    outline: none;
    border: 0.1rem solid #227093;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.restart {
    color: #fff;
    background: #227093;
}

.buttons button.restart:hover {
    background: #34ACE0;
}

.buttons button.quit {
    color: #227093;
}

.buttons button.quit:hover {
    color: #fff;
    background: #227093;
}

.quiz-box {
    width: 55rem;
    background: #fff;
    border-radius: 0.5rem;
}

.quiz-box header {
    color: black;
    height: 7rem;
    padding: 0 3rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
}



/*footer .total_que {
    padding: 1rem;
    color: white;
}*/

body {
    overflow-x: hidden;
    max-width: 1600px;
    background-color: #227093;
    text-align: center;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif ;
    font-size: 3rem;
}

/*NEW MODE*/
.container {
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(1);
}
/*
.container header {
    margin-top: 7rem;
    background: #34ACE0;
    color: white;
    min-width: 30rem;
    width: 70%;
    padding: 1rem;
}*/

.container header {
    /* margin-top: 7rem; */
    color: whitesmoke;
    width: 70%;
    height: 14%;
    padding: 0 3rem;
    background: #34ACE0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
    user-select: none;
}

.container header .title {
    font-size: 2rem;
    font-weight: 600;
    user-select: none;
}

.container header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 14.5rem;
    height: 4.5rem;
    background: #cce5ff;
    border: 0.1rem solid #b8daff;
    border-radius: 0.5rem;
    padding: 0 0.8rem;
}

.container header .timer .time_tex {
    color: black;
    font-weight: 400;
    font-size: 1.7rem;
    user-select: none;
}

.container header .timer .timer_sec {
    font-size: 1.8rem;
    font-weight: 500;
    background: #343a40;
    height: 3rem;
    width: 4.5rem;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #343a40;
    user-select: none;
}

.container header .time_line {
    position: absolute;
    /* top: 23%;*/
    left: 0rem;
    /*right: 0rem;*/ 
    top: 0rem;
    height: 0.3rem;
    width: 100vw;
    background: #0be881;
}
    /*position: absolute;
    top: 14%;
    left: 24rem;
    /* right: -82px; 
    height: 0.3rem;
    width: 70%;
    background: red;*/

.team {
    opacity: 0.3;
    text-align: left;
    margin-top: 7rem;
    width: 70%;
}

.container footer {
    height: 6rem;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.container footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p {
    font-weight: 500;
    padding: 0 0.5rem;
}

.total_que span p:first-child {
    padding-left: 0rem;
}

footer .next_btn {
    display: none;
    height: 4rem;
    padding: 0 1.3rem;
    font-size: 1.8rem;
    font-weight: 400;
    border: none;
    outline: none;
    color: #227093;
    background: #fff;
    border-radius: 0.5rem;
    border: 0.1rem solid #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next_btn:hover {
    color: #fff;
    background: #227093;
}

.result_box {
    background: #fff;
    width: 65rem;
    padding: 2.5rem 3rem;
    border-radius: 0.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(1.1);
}

.result_box .icon {
    font-size: 10rem;
    color: #227093;
    margin-bottom: 1rem;
}

.result_box .complete_text {
    font-size: 2rem;
    font-weight: 500;
}

.result_box .score_text span {
    display: flex;
    margin: 1rem 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.score_text span p {
    font-weight: 600;
    padding: 0 0.4rem;
}

.result_box .buttons {
    display: flex;
    margin: 2rem 0;
}

.result_box .buttons button {
    margin: 0 1rem;
    height: 4rem;
    padding: 0 2rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 0.5rem;
    border: 0.1rem solid #227093;
    cursor: pointer;
    transition: all 0.3s ease;
}

.respuesta .btn.disable, .cat .btn-cat.disable{
    pointer-events: none;
}

table#tablaResultados {
    background: #fff;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    padding: 0.5rem;
}
thead {
    background-color: #227093;
    border-bottom: solid 5px #495057;
    color: white;
}
tr:nth-child(even) {
    background-color: #95afc0;
}
tr:hover td{
    background-color: #2d98da;
    color: white;
}
#puntos-ganador p {
    display: inline;
    color: darkcyan;
    font-weight: 500;
}
#puntos-ganador {
    margin-bottom: 1rem;
}


/*
.categoria {
    opacity: 0.3;
    text-align: left;
} */

/* .pregunta {
    padding: 1rem;
} */

.imagen {
    margin: 1rem;
    height: 30rem;
    /*width: 70%;*/
}
.imagen img {
    object-fit: cover;
    height: 100%;
}
.cat {
    height: 10rem;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.btn-cat {
    background: whitesmoke;
    flex: none;
    width: calc((100% - 3rem) / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-radius: 0.2rem;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s ease;
}

.btn-cat:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#btn-cat1:hover {
    background: #27ae60;
}

#btn-cat2:hover {
    background: #f1c40f;
}

#btn-cat3:hover {
    background: #7ed6df;
}

.respuesta {
    height: 30rem;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}

.btn {
    background: whitesmoke;
    flex: none;
    width: calc((100% - 1rem) / 2);
    border-radius: 0.2rem;
    padding: 0.8rem 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #c7ecee;
    cursor: pointer;
    transform: scale(1.05);
}
/* figure {
    height: 4rem;
}
figure img {
    width: 4rem;
    height: 4rem;
} */

/* Create team */
/* Main new mode hidden */
.set-game_mode {
    display: none;
    opacity: 0;
    pointer-events: 0;
}


.team-box h1,
.team-box h2,
.team-box h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.team-box {
    background: #dff9fb;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3rem;
    overflow-x: hidden;
    height: 100vh;
}

.headerTeam {
  display: flex !important;
  font-size: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.headerTeam .local_time {
  font-weight: 600;
}
.headerTeam .option {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}
.headerTeam .option a {
  margin: 1rem;
  text-decoration: none;
}
.mainTeam {
  margin-top: 15%;
}
.mainTeam section {
  width: 37rem;
  position: relative;
  /* top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
/* main section h1 {
  text-align: center;
} */
.mainTeam, .row {
  width: 100vw;
}
.input-group {
  position: relative;
  display: flex;
  /* justify-content: center; */
  width: 100%;
  margin-top: 1rem;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  width: 1%;
  margin-bottom: 0;
}
.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn-Team,
.input-group-btn:not(:first-child)
  > .btn-Team:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:last-child) > .btn-Team,
.input-group-btn:not(:last-child) > .btn-group > .btn-Team,
.input-group-btn:not(:last-child) > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem !important;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn,
.input-group-addon {
  white-space: nowrap;
  vertical-align: middle;
}
.input-group,
.form-control,
.input-group-btn,
.input-group-addon {
    display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.box_creat_team input #btn_input {
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
}

/* signo +  */
.glyphicon {
  position: relative;
  /* top: 1px; */
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}
/* buttno clicked */
.input-group-btn:not(:first-child)>.btn-Team, .input-group-btn:not(:first-child)>.btn-group {
    z-index: 2;
    margin-left: -1px;
}
.input-group-btn>.btn-Team {
    position: relative;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-Team {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1.5rem !important;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
}
.team-box button, .team-box select {
    text-transform: none;
}
.team-box button, .team-box input {
    overflow: visible;
}
.team-box button, .team-box input, .team-box optgroup, .team-box select, .team-box textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
[role=button], .team-box a, .team-box area, .team-box button, .team-box input, .team-box label, 
.team-box select, .team-box summary, .team-box textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.glyphicon-plus:before {
  content: "\002b";
}

.glyphicon-minus:before {
  content: "\2212";
}
