* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    background-color: #487eb0;
    text-align: center;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif ;
    font-size: 3rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background: white;
    min-width: 30rem;
    width: 70%;
    padding: 1rem;
}

.categoria {
    opacity: 0.3;
    text-align: left;
}

.pregunta {
    padding: 1rem;
}

.imagen {
    object-fit: cover;
    height: 20rem;
    width: 70%;
}

.respuesta {
    height: 30rem;
    width: 70%;
    background: rgb(47, 46, 48);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    background: tomato;
    flex: none;
    width: calc((100% - 1rem) / 2);
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}