* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    background-color: #487eb0;
    text-align: center;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif ;
    font-size: 3rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background: white;
    min-width: 30rem;
    width: 70%;
    padding: 1rem;
}

.categoria {
    opacity: 0.3;
    text-align: left;
}

.pregunta {
    padding: 1rem;
}

.imagen {
    object-fit: cover;
    height: 20rem;
    width: 100%;
}

.respuesta {
    display: flex;
    flex: 4 1 0%;
    flex-wrap: wrap;
    height: 100%;
    align-content: stretch;
    z-index: 1;
}

.btn {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    overflow: visible;

    background-color: aliceblue;
    width: 60%;
    padding: 1rem;
    margin: 0.5rem;
}