* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}
html {
    font-size: 62.5%;
}

body {
    background-color: #487eb0;
    text-align: center;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif ;
    font-size: 3rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background: white;
    min-width: 30rem;
    width: 70%;
    padding: 1rem;
}

.categoria {
    opacity: 0.3;
    text-align: left;
}

.pregunta {
    padding: 1rem;
}

.imagen {
    height: 20rem;
    width: 70%;
}
.imagen img {
    object-fit: cover;
    width: 50%;
    height: 100%;
}

.cat {
    height: 10rem;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.btn-cat {
    background: whitesmoke;
    flex: none;
    width: calc((100% - 3rem) / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.btn-cat:hover {
    cursor: pointer;
}

#btn-cat1:hover {
    background: #27ae60;
}

#btn-cat2:hover {
    background: #f1c40f;
}

#btn-cat3:hover {
    background: #7ed6df;
}

.respuesta {
    height: 30rem;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}

.btn {
    background: whitesmoke;
    flex: none;
    width: calc((100% - 1rem) / 2);
    margin-bottom: 1rem;
    transition: all ease 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.btn:hover {
    background: #c7ecee;
    cursor: pointer;
    transform: scale(1.05);
}
figure {
    height: 4rem;
}
figure img {
    width: 4rem;
    height: 4rem;
}
